<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form name="UserInfo" action="http://localhost:2025/userInfo" method="GET">
        Enter Name <input type="text" name="name" value="" placeholder="Enter your name"> <br>
        Enter Age <input type="text" name="age" value="" placeholder="Enter your age"> <br>
        Enter Address <input type="text" name="address" value="" placeholder="Enter your address"> <br>
        <button type="submit">Submit</button>
    </form>

    <br>

    <h3>Go to the Home</h3>
    <a href="http://localhost:2025/home">Home</a>
</body>
</html>